 {% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'satvik/css/style.css' %}">
</head>
<body>
<h1><u>Admin enter your credentials to login</u></h1>

<form action={% url 'admin' %} method="post">
{% csrf_token %}
{% if error %}
	{{ error }}<br>
{% endif %}
  Username:<br>
  <input type="text" name="username" placeholder="username...">
  <br>

  Password:<br>
  <input type="password" name="password" placeholder="password...">
  <br>

  <input type="submit" value="Submit" class="button1" >
  <input type="reset" value="Reset" class="button1">
<br> <br>
</form>
<a href="{% url 'index' %}"><button class="button1">Go to Home</button>
<br><br>

</body>
</html>