 {% load static %}
 <!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'satvik/css/style.css' %}">
</head>
<body>
<h1><u>Following are the list of previous complaints</u></h1>

<table style="width:100%">
  <tr>
    <th align="left">Enrollment</th>
    <th align="left">memberid</th>
    <th align="left">Date</th>
    <th align="left">Complaint</th>
  </tr>
  {% for i in comp %}
  <tr>
  {% for j in i%}
    <td>{{j}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  
</table> 

<br>
<a href="{% url 'facility' %}"><button class="button1">Back</button></a>
<br>

</body>
</html> 
